{% extends "base.html.twig" %}
{% block title %}
	Accueil
{% endblock %}
{% block body %}

	<h1>Nos produits phares</h1>
	<div class="row">
		{% for product in products %}
			<div class="col">
				<div class="card"><img src="{{product.mainPicture}}" class="img-fluid" alt=""></div>
				<div class="card-body">
					<h4 class="card-title">{{product.name}}({{product.price / 100 }}€)</h4>
					<p>
						<span class="badge bg-info">{{product.category.name}}</span>
					</p>
					<p class="card-text">{{product.shortDescription}}</p>
					<a href="#" class="btn btn-primary btn-sm">Détails</a>
					<a href="#" class="btn btn-success btn-sm">Ajouter</a>
				</div>
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréprochable</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur neque illo, non dolorem ducimus praesentium?</p>
	<div class="row">
		{%  include "shared/_assurance.html.twig" with {
        'color': 'primary',
        'icon': 'fas fa-truck',
        'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat amet, quasi ab aut sint!"} %}

		{%  include "shared/_assurance.html.twig" with {
        'color': 'success',
        'icon': 'fas fa-check',
        'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat amet, quasi ab aut sint!"} %}

		{%  include "shared/_assurance.html.twig" with {
        'color': 'warning',
        'icon': 'fas fa-lock',
        'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat amet, quasi ab aut sint!"} %}
	</div>

</div>{% endblock %}
